:root {
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 255, 255, 0.1);
  --highlight-color: rgb(126, 87, 194);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 170vh;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  color: rgb(255, 255, 255, 0.87);
  margin: 0px;
}

a, p {
  color: rgb(255, 255, 255, 0.4);
  margin: 0px;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
}

#nav-link-section a:nth-child(1) {
  color: var(--highlight-color);
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

nav .nav-section {
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

#nav-mobile-section {
  display: flex;
  flex-basis: calc(100% * (1 / 2));
  border-left: 1px solid var(--border-color);
  z-index: 2;
}

#nav-toggle-button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-left: 1px solid var(--border-color);
  color: white;
  cursor: pointer;
  display: none;
  gap: 0.8rem;
  height: 100%;
  justify-content: center;
  outline: none;
  padding: 0rem 3rem;
  position: relative;
  z-index: 3;
}

#nav-toggle-button:hover,
#nav-toggle-button:hover > span {
  color: var(--highlight-color);
}

#nav-toggle-button > span,
#nav-toggle-button > i {
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
  border-left: 1px solid var(--border-color);
}

#nav-logo-section {
  flex-basis: calc(100% / 2);
  justify-content: flex-start;
}

#nav-logo-section > a > i {
  font-size: 2.5rem;
}

#nav-link-section {
  flex-basis: 50%;
  gap: 6rem;
}

#nav-social-section {
  gap: 3rem;
}

main {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

main > article {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  left: 0px;
  top: 0px;
}

main > article > .article-section {
  height: 100%;
  display: flex;
}

main > article > .article-title-section,
main > article > .article-nav-section {
  border-top: 1px solid var(--border-color);
  color: white;
}

main > article > .article-image-section {
  background-image: url("public/images/hanapf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

main > article > .article-description-section {
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 20rem;
  padding-right: 6rem;
}

main > article > .article-description-section h3 {
  margin-bottom: 2.5rem;
}

main > article > .article-description-section p {
  margin-bottom: 2rem;
}

main > article > .article-description-section h3 {
  line-height: 1.4;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

main > article > .article-description-section p {
  font-size: 1.16rem;
  line-height: 1.5;
  max-width: 75%;
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-family: "Rubik", sans-serif;
}

main > article > .article-title-section > p {
  padding-left: 20rem;
  margin: 0;
}

main > article > .article-nav-section {
  padding-left: 45rem;
  padding-top: 1rem;
}

main > article > .article-title-section > p,
main > article > .article-nav-section {
  padding-top: 2rem;
}

@media(max-width: 800px) {
  nav {
    justify-content: space-between;
  }

  nav[data-toggled="true"] > #nav-mobile-section {
    transform: translateY(0%);
  }

  nav[data-toggled="true"] > #nav-toggle-button {
    border-left: none;
  }

  nav[data-transitionable="true"] > #nav-mobile-section {
    transition: transform 400ms ease;
  }

  nav .nav-section {
    border-left: none;
    padding: 1.5rem 1rem;
  }

  #nav-logo-section > a > i {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  #nav-mobile-section {
    background-color: var(--background-color);
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
    transform: translateY(-100%);
  }

  #nav-toggle-button {
    display: flex;
  }

  #nav-link-section {
    flex-basis: 60%;
    flex-direction: column;
    gap: 4rem;
  }

  #nav-link-section > a {
    font-size: 3rem;
  }

  #nav-social-section > a {
    font-size: 2rem;
  }

  #nav-contact-section {
    padding-bottom: 4rem;
  }

  main > article {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.25fr;
  }

  main > article > .article-image-section {
    width: 100%;
  }

  main > article > .article-description-section {
    padding: 2rem;
    justify-content: center;
  }

  main > article > .article-title-section > p {
    padding-left: 2rem;
  }

  main > article > .article-nav-section {
    padding-left: 2rem;
  }
}
