:root {
  --background-color: rgb(9, 5, 23);
  --border-color: rgb(255, 255, 255, 0.2);
  --highlight-color: rgb(184, 133, 235, 0.8);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 170vh;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  color:rgb(255, 255, 255, 0.87);
  margin: 0px;
}

a, p {
  color: rgb(255, 255, 255, 0.4);
  margin: 0px;
  font-family: 'roboto', sans-serif;
}

a {
  text-decoration: none;
}

#nav-link-section a:nth-child(1) {
  color: var(--highlight-color);
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

nav .nav-section {
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

#nav-top-section {
  display: flex;
  flex-basis: calc(100% * (1 / 2));
  border-left: 1px solid var(--border-color);
  z-index: 2;
}



#nav-document-section,
#nav-contact-section {
  flex-grow: 1;
  border-left: 1px solid var(--border-color);
}


#nav-logo-section {
  flex-basis: calc(100% / 2);
  justify-content: flex-start;
}

#nav-logo-section > a {
  display: block;
  width: 5rem;
  height: 5rem;
  margin-left: 2rem;
  background-image: url('images/Last_Prism.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

#nav-link-section {
  flex-basis: 50%;
  gap: 6rem; 
}

#nav-document-section {
  gap: 3rem;
}

main {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

main > article {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  left: 0px;
  top: 0px;

}

main > article > .article-section {
  height: 100%;
  display: flex;
}



  
main > article > .article-title-section,
main > article > .article-nav-section {
  border-top: 1px solid var(--border-color);
  color:white;
}



main > article > .article-image-section {
  background-image: url("images/pr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 80%;
  margin: 0 auto;

  align-items: center;
}

main > article > .article-description-section {
  flex-direction: column;
  justify-content: flex-end;
  padding-left:20rem;
  padding-right:6rem;
}


main > article > .article-description-section h3 {
  margin-bottom: 2.5rem; 
}

main > article > .article-description-section p{
  margin-bottom:2rem;
}

main > article > .article-description-section h3 {
  line-height: 1.4;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'roboto', sans-serif;
}



main > article > .article-description-section p {
  font-size: 1.16rem;
  line-height: 1.5; 
  max-width: 75%;
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-family: 'roboto', sans-serif;
}



main > article > .article-title-section > p {
  padding-left:20rem;
  margin:0;
}

main > article > .article-nav-section {
  padding-left:45rem;
  padding-top:1rem;
}

main > article > .article-title-section > p,
main > article > .article-nav-section {
padding-top:2rem;
}
